.header__container {
    max-width: 1440px;
    height: var(--header-height);
    margin: 0 auto;

    background-image: url('../img/bg.jpg');
    background-position: center 0;
    background-repeat: no-repeat;

    font-size: var(--menu-font-size);
    font-weight: 300;
    line-height: 60px;
}

.header__wrapper {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    height: 100%;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding: 20px 65px 0 0;
}

.search {
    width: 93px;
    height: 100%;
    padding-right: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search__icon:hover {
    cursor: var(--hover-cursor);
}

.button {
    height: 100%;

    padding-top: 24px;
    line-height: 48px;
}

.button__item {
    padding: 0;

    text-align: center;

    font-family: var(--main-font-family);
    font-size: 22px;
    color: var(--main-color);

    border: 2px solid var(--bright-color);
    border-radius: 5px;
}

.button__item:hover {
    background-color: #E39128;
    border: 2px solid #E39128;
}

.sign-in {
    width: 120px;
    height: 50px;

    padding: 2px 23px 0;

    background-color: transparent;
}

.sign-in:hover {
    background-color: var(--bright-color);
    border: 2px solid var(--bright-color);
}

.button__item:active, .sign-in:active {
    background-color: #8F5613;
    border: 2px solid #8F5613;
}