:root {
    --main-bg-color: #CCCCCC;

    --main-color: #F7F7F7;
    --sub-color: #333333;
    --bright-color: #CD6326;

    --main-font-family: 'Open Sans', sans-serif;
    --menu-font-size: 23px;

    --header-height: 105px;

    --hover-cursor: pointer;
}